{% extends "base.html" %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<div style=" margin: 0 auto; background-color: black; color: white; font-family: Arial, sans-serif; padding: 20px; border: 2px solid #333; align-items: center;">
    <h1 style="text-align: center; font-size: 36px;">Kuch Khareed Lo</h1><br><br><BR>
    <p>Welcome to Kuch Khareed Lo, your one-stop destination for buying and selling goods within the college community. Our platform aims to simplify the process of selling and buying pre-owned items, making it easier for students to find what they need at affordable prices.</p>
    <p>At Kuch Khareed Lo, students can browse through a wide range of products, from textbooks to electronics, furniture to fashion, and much more. Sellers can easily list their items, providing detailed descriptions and contact information for interested buyers.</p>
    <p>Our goal is to create a vibrant marketplace within college campuses, fostering a sense of community and sustainability by giving items a new life with a new owner. Join us in making student life more convenient and sustainable with Kuch Khareed Lo!</p>
</div>
{% endblock %}
